.home-container {
    display: flex;
    justify-content: center;
}

.list-container {
    width: 370px;
    height: 320px;
    margin-top: 85px;
    border: 1px solid var(--light-gray-border);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    padding: 10px 15px;
}

.horizontal-line-container {
    padding: 10px 0px
}

.horizontal-line-container hr {
    height: 0.7px;
    background-color: var(--gray-horizontal-line);
    border: none;
}

.list-items-container {
    height: 164px;
    overflow: scroll;
    scrollbar-width: none;
}

.list-items-container::-webkit-scrollbar {
    display: none;
}